.rajni, h4{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid green;
}

.abc{
    background-color: blue;
    padding: 50px;
    margin-top: 10px;
}